<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="naviFragment">
    <nav class="py-2 bg-body-tertiary border-bottom">
	    <div class="container d-flex flex-wrap">
	        <ul class="nav me-auto">
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">S</a></li>
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">A</a></li>
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">M</a></li>
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">P</a></li>
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">L</a></li>
	            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">E</a></li>
	        </ul>
	        <ul class="nav">
	            <li class="nav-item" data-login><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">Login</a></li>
	            <li class="nav-item" data-join><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">Signup</a></li>
	        </ul>
	    </div>
	</nav>
	<script th:inline="javascript">
	    'use strict';
	    console.log('top');
	   
        $("li[data-login]").click(function() {
            window.location.href = '/sample/contents/login';
        });
        $("li[data-join]").click(function() {
            window.location.href = '/sample/contents/join';
        });
    </script>
</th:block>
</html>