<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="naviFragment">
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap" data-trigger="button">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">S</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">A</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">M</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">P</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">L</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2">E</a></li>
            <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2" data-i18n-m="MS99999"></a></li>
            <li class="nav-item" style="margin-top: 8px;">
            	<input type="button" id="cacheClear" value="i18n CacheClear">
            </li>
        </ul>
        <ul class="nav">
        	<li><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2" id="userId"></a></li>
            <li class="nav-item">
            	<a href="javascript:void(0);" class="nav-link link-body-emphasis px-2" id="loginBtn"  data-i18n-w="BT99999"></a>
           	</li>
            <li class="nav-item">
            	<a href="javascript:void(0);" class="nav-link link-body-emphasis px-2" id="logoutBtn" data-i18n-w="BT99998"></a>
           	</li>
<!--             <li class="nav-item"><a href="javascript:void(0);" class="nav-link link-body-emphasis px-2" id="signupBtn">Signup</a></li> -->
        </ul>
        <ul class="nav">
        	<li class="nav-item">
        		<select id="langChange" style="margin-top: 8px;">
        			<option value="EN">English</option>
        			<option value="KO">Korea</option>
        		</select>
           	</li>
        </ul>
    </div>
</nav>
<script th:inline="javascript">
    'use strict';
    console.log('top');
    
    wg.c.top =  {};
    wg.f.top =  {};
    
    ;(function(co) {
    	co.top.uriMap = {
            search : '/common/session/user',
        }
    	co.top.moveMap = {
   			login  : '/sample/contents/login',
   			logout : '/logout',
   			join   : '/sample/contents/join',
    	}
    	
    	co.top.userKey = 'userInfo';
    })(wg.c);
    
    ;(function(co, fn, i18n) {
    	fn.top.movePage = function(uri) {
    		fn.move.page(co.top.moveMap[uri]);
    	}
    	
    	fn.top.search = function() {
    		const userInfo = sessionStorage.getItem(co.top.userKey);
    		if (userInfo != null) {
    			fn.top.setUserInfo();
    			return;
    		}
    		
        	let opt = {
        		uri : co.top.uriMap.search,
        	}
        	fn.api.search(opt, function(res) {
        		if (res.result) {
        			console.log('res.data.userInfo============ ', res.data.userInfo);
        			
        			if (res.data.userInfo.userId != null) {
	        			sessionStorage.setItem(co.top.userKey, JSON.stringify(res.data.userInfo));
	        			fn.top.setUserInfo();
        			}
        		}
        	});
        }
    	
    	fn.top.setUserInfo = function() {
    		let userInfo = sessionStorage.getItem(co.top.userKey);
    		userInfo = JSON.parse(userInfo);
    		
    		$('#userId').html('[' + userInfo.userNm + ']');
    	}
    	
    	fn.top.cacheClear = function() {
    		i18n.cacheClear('word');
    		i18n.cacheClear('message');
    	}
    	
    	fn.top.logout = function() {
    		sessionStorage.removeItem(co.top.userKey);
     		fn.top.movePage('logout');
    	}
    	fn.top.langChange = function() {
    		window.global.lang = $('#langChange').val();
    		sessionStorage.setItem('lang', window.global.lang);
    		sessionStorage.removeItem('defaultWord');
    		sessionStorage.removeItem('defaultMessage');
    		
    		location.reload();
    	}
    })(wg.c, wg.f, wg.i18n);
    
    ;(function(fn, trigger) {
    	fn.top.event = function() {
	     	$(trigger.button.loginBtn).click(function() {
	             fn.top.movePage('login');
	        });
	     	$(trigger.button.signupBtn).click(function() {
	     		fn.top.movePage('join');
	        });
	     	$(trigger.button.logoutBtn).click(function() {
	     		fn.top.logout();
	        });
	     	$(trigger.button.cacheClear).click(function() {
	     		fn.top.cacheClear();
	        });
	     	$(trigger.button.langChange).change(function() {
	     		fn.top.langChange();
	        });
    	}
    })(wg.f, wg.t);
</script>
<script th:inline="javascript">
    'use strict';
    $(document).ready(() => {
        const fn = wg.f;
        
        let lang = sessionStorage.getItem('lang');
        if (lang == null) {
        	lang = 'EN';
        }
        $('#langChange').val(lang);
        
        fn.top.event();
        fn.top.search();
    });
</script>
</th:block>
</html>