<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE RelativeLayout>
<configuration>

	<!-- 로그파일 저장 경로 -->
	<property name="LOG_DIR" value="/ftalog/logback" />
	
	<!-- CONSOLE -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<!-- CONSOLE-INFOLOG -->
	<appender name="CONSOLE-INFOLOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

	<!-- SYSLOG -->
	<appender name="SYSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/syslog/syslog.log</file>
		<encoder>
			<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/syslog/syslog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
	</appender>
	
	<!-- ACCESSLOG -->
	<appender name="ACCESSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/accesslog/accesslog.log</file>
		<encoder>
			<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/accesslog/accesslog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
	</appender>
	
	<!-- additive: 상속여부, level: log level -->
	<root level="off">
	</root>
	
	<!-- spring Logger -->
	<logger name="org.springframework.context" level="warn" additive="false">
        <appender-ref ref="CONSOLE" />
    </logger>
	<logger name="org.springframework.web" level="warn" additive="false">
        <appender-ref ref="CONSOLE" />
    </logger>
	<logger name="org.springframework.core" level="warn" additive="false">
        <appender-ref ref="CONSOLE" />
    </logger>
	<logger name="org.springframework.beans" level="warn" additive="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    
	<!-- sql Logger -->
	<logger name="jdbc.sqltiming" level="INFO" additive="false">
    	<appender-ref ref="CONSOLE-INFOLOG" />
    	<appender-ref ref="ACCESSLOG" />
    </logger>
    <logger name="jdbc.resultsettable" level="INFO" additive="false">
    	<appender-ref ref="CONSOLE-INFOLOG" />
    	<appender-ref ref="ACCESSLOG" />
    </logger>

    <logger name="com.ktnet" level="debug" additive="false" >
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SYSLOG" />
    </logger>
    
</configuration>