<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<!--Mybatis 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- Type Aliases 설정-->
	<typeAliases>
		<typeAlias alias="map" type="java.util.Map"/>
		<typeAlias alias="camelMap" type="com.ktnet.core.map.CamelMap"/>
		<typeAlias alias="fileUploadDto" type="com.ktnet.common.dto.FileUploadDto"/>
	</typeAliases>
	
</configuration>