<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sample/layouts/default-layout">
<th:block layout:fragment="content">
    <div class="container">
        <!-- 검색 영역 -->
        <div class="search-box be-light border mb-1">
            <form class="form-horizontal form-search m-1">
                <div class="row">
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 인보이스일자 </label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" type="date" max="9999-12-31" placeholder="YYYY-MM-DD" name="beginDate" />
                                <input class="form-control" type="date" max="9999-12-31" placeholder="YYYY-MM-DD" name="endDate" />
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 인보이스번호 </label>
                        <div class="col-md-8">
                            <input type="search" name="invoiceNo" class="form-control" placeholder="인보이스번호" />
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 목적국 </label>
                        <div class="col-md-8">
                            <input type="text" name="destNationCode" class="form-control" placeholder="2자리만 입력하세요. 예시) US" title="2자리만 입력하세요. 예시) US" />
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 협정 </label>
                        <div class="col-md-8">
                            <select class="form-select" name="ftaId">
                                <option value="">전체</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 상태 </label>
                        <div class="col-md-8">
                            <select class="form-select" name="status">
                                <option value="">전체</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <label class="col-md-4 col-form-label"> 수하인 </label>
                        <div class="col-md-8">
                            <input type="search" name="customerName" class="form-control" placeholder="수하인" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- 버튼 영역 -->
        <div class="d-flex justify-content-end">
            <div class="btn-group p-1 mr-1" role="group">
                <button class="btn btn-outline-info">
                    <i class="fa fa-th-large"></i>선택일괄판정
                </button>
                <button class="btn btn-outline-danger">
                    <i class="fa fa-trash"></i>삭제
                </button>
                <button class="btn btn-outline-success">
                    <i class="fa fa-edit"></i>원산지증명서 작성
                </button>
            </div>

            <div class="btn-group p-1" role="group">
                <button type="button" class="btn btn-outline-info">
                    <i class="fas fa-download"></i>다운로드
                </button>
                <button type="button" class="btn btn-outline-success">
                    <i class="fas fa-search"></i>검색
                </button>
                <button type="button" class="btn btn-outline-secondary">
                    <i class="fas fa-sync"></i>초기화
                </button>
            </div>
        </div>
        
        <!-- <div class="d-flex justify-content-end">
          <div class="btn-group p-1 mr-1" role="group">
            <button
              class="btn btn-outline-info"
              ngbTooltip="선택일괄판정"
              [disabled]="selection.length === 0"
              (click)="judgment()"
            >
              <i class="fa fa-th-large"></i>선택일괄판정
            </button>
            <button
              class="btn btn-outline-danger"
              [disabled]="selection.length === 0"
              ngbTooltip="{{ 'button.delete' | translate }}"
              (click)="delete()"
            >
              <i class="fa fa-trash"></i>{{ 'button.delete' | translate }}
            </button>

            <div
                class="dropdown d-inline-block"
                *ngIf="issuTy === 'GOVERNMENT'"
                ngbDropdown
              >
                <button
                  type="button"
                  class="btn btn-outline-success"
                  [disabled]="selection.length === 0 || ableIssue === false || ableIssue2 === false"
                  ngbTooltip="{{ '원산지증명서 작성' | translate }}"
                  ngbDropdownToggle
                >
                  <i class="fa fa-edit"></i>{{ '원산지증명서 작성' | translate }}
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    *ngIf="issuTy === 'GOVERNMENT'"
                    (click)="issue('KORCHAM')"
                    >상공회의소</a
                  >
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    *ngIf="issuTy === 'GOVERNMENT'"
                    (click)="issue('CUSTOMS')"
                    >관세청</a
                  >
                </div>
              </div>
              <div
                  class="dropdown d-inline-block"
                  *ngIf="issuTy === 'COMPANY' && (ftaCode === 'PKRRC' || ftaCode === 'PKRKH' || ftaCode === 'PKRIL' || ftaCode === 'PKRID')"
                  ngbDropdown
                >
                <button
                  type="button"
                  class="btn btn-outline-success"
                  [disabled]="selection.length === 0 || ableIssue === false || ableIssue2 === false"
                  ngbTooltip="{{ '원산지증명서 작성' | translate }}"
                  ngbDropdownToggle
                >
                  <i class="fa fa-edit"></i>{{ '원산지증명서 작성' | translate }}
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    *ngIf="issuTy === 'COMPANY' && (ftaCode === 'PKRRC' || ftaCode === 'PKRKH' || ftaCode === 'PKRIL' || ftaCode === 'PKRID')"
                    (click)="issue('KORCHAM')"
                    >상공회의소</a
                  >
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    *ngIf="issuTy === 'COMPANY' && (ftaCode === 'PKRRC' || ftaCode === 'PKRKH' || ftaCode === 'PKRIL' || ftaCode === 'PKRID')"
                    (click)="issue('CUSTOMS')"
                    >관세청</a
                  >
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    *ngIf="selection.length === 1 && issuTy === 'COMPANY' && (ftaCode === 'PKRRC' || ftaCode === 'PKRKH' || ftaCode === 'PKRIL' || ftaCode === 'PKRID')"
                    (click)="issue(null)"
                    >자율발급</a
                  >
                </div>
              </div>
              <button
                class="btn btn-outline-success"
                ngbTooltip="{{ '원산지증명서 작성' | translate }}"
                [disabled]="selection.length !== 1 || ableIssue === false || ableIssue2 === false || issuTy === 'GOVERNMENT'"
                *ngIf="issuTy !== 'GOVERNMENT' && ftaCode !== 'PKRRC' && ftaCode !== 'PKRKH' && ftaCode !== 'PKRIL' && ftaCode !== 'PKRID'"
                (click)="issue(null)"
              >
                <i class="fa fa-edit"></i>{{ '원산지증명서 작성' | translate }}
              </button>

          </div>

          <div class="btn-group p-1" role="group">
            <button
              type="button"
              class="btn btn-outline-info"
              ngbTooltip="{{ 'button.download' | translate }}"
              (click)="download()"
            >
              <i class="fas fa-download"></i>{{ 'button.download' | translate }}
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              ngbTooltip="{{ 'button.search' | translate }}"
              (click)="getDatasource()"
            >
              <i class="fas fa-search"></i>{{ 'button.search' | translate }}
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              ngbTooltip="{{ 'button.init' | translate }}"
              (click)="reset()"
            >
              <i class="fas fa-sync"></i>{{ 'button.init' | translate }}
            </button>
          </div>
        </div> -->
        
        <!-- 그리드 영역 -->
        <div class="mt-2" id="invoiceGrid"></div>

        <!-- <h2>Grid 1</h2>
        <div class="mt-2" data-trigger="button">
            <a href="javascript:void(0);" class="btn btn-primary" id="clearRow">Clear Row</a> 
            <a href="javascript:void(0);" class="btn btn-primary" id="appendRow">Append Row</a> 
            <a href="javascript:void(0);" class="btn btn-primary" id="deleteRow">Delete Row</a> 
            <a href="javascript:void(0);" class="btn btn-primary" id="modifiedRow">Modified Row</a> 
        </div>
        <div class="mt-2" id="sampleGrid"></div>
        
        <h2>Grid 2</h2>
        <div class="mt-2" id="testGrid"></div> -->
    </div>

    <script th:inline="javascript">
        'use strict';
        // 1.page init area.
        ;(function(co, grid) {
            co.initParams = {
                param1 : 'p1',
                param2 : 'p2',
            }
            
            co.uriMap = {
                search : '/sample/board/list/search',
                save   : '/sample/board/list/save',
            }
            co.moveMap = {
                write : '/sample/contents/board/board-register',
            }
            
            //grid id 지정.
            //grid 갯수만큼 지정 되어야 함.
            grid.id = {
                grid  : 'invoiceGrid',   //<div class="mt-2" id="sampleGrid"></div>
            }
            
            //grid js include.
            co.require(['./grid/grid-invoice.js']);
            
        })(wg.c, wg.gr);
        
        // 2.function area.
        ;(function(co, fn, trigger, grid) {
            fn.search = function() {
                let params = {
                    username : $('#username').val(),
                    email : $('#email').val(),
                    param1 : 'new p1',
                    param2 : 'new p2',
                }
                
                //grid 검색.
                //grid id 정보, 파라메터를 세팅하여 호출.
                //특별한 이유가 없으면 해당 함수 사용.
                //grid.api.search(grid.id.grid, params);
                //grid.api.search(grid.id.grid2, params);
            }
            
            fn.save = function() {
                let sampleGrid = grid.context[grid.id.grid];
                
                //modified rows.
                let rows = sampleGrid.getModifiedRows();
                console.log('ModifiedRows', rows);
                //checked row.
                console.log('Checked row', sampleGrid.getCheckedRows()); 
                
                //grid validation check.
                let v = sampleGrid.validate();
                console.log('v ==> ', v);
                if (v.length > 0) {
                    // TODO swal confirm 창 작업.
                    // error message.
                    return;
                }
                
                let opt = {
                    uri : co.uriMap.save,
                    params : { data : rows }
                }
                
                //default 저장 함수 호출.
                //특별한 이유가 없으면 해당 함수 사용.
                fn.api.save(opt, function() {
                    console.log('save callback fnc!!');
                });
            }
        })(wg.c, wg.f, wg.t, wg.gr);
        
        // 3.event area.
        ;(function(co, fn, trigger, grid) {
            fn.event = function() {
                //wg.t => data-trigger="button" 하위의 id를 가지고 있는 dom이 모두 등록 된다.
                
                //search.
                $(trigger.button.searchBtn).click(function() {
                    fn.search();
                });
                //save.
                $(trigger.button.saveBtn).click(function() {
                    fn.save();
                });
                //move writepage.
                $(trigger.button.writeBtn).click(function() {
                    
                    //이동하는 page의 storage 데이터를 삭제 후 이동.
                    //특별한 이유가 없으면 해당 함수 사용.
                    fn.move.page(co.moveMap.write, {});
                });
                
                
                /* === grid event === */
                //clear row
                $(trigger.button.clearRow).click(function() {
                    grid.context[grid.id.grid].clear();
                });
                //append row
                $(trigger.button.appendRow).click(function() {
                    grid.context[grid.id.grid].appendRow({name: 'addName', age: '20'}, {at: 0});
                });
                //delete row
                $(trigger.button.deleteRow).click(function() {
                    //true : 삭제여부 alert 사용., false : 삭제여부 alert 미사용.
                    grid.context[grid.id.grid].removeCheckedRows(false);  
                });
                //modified row data.
                $(trigger.button.modifiedRow).click(function() {
                    let rows = grid.context[grid.id.grid].getModifiedRows();
                    console.log(rows);
                });
            }
            
        })(wg.c, wg.f, wg.t, wg.gr);
    </script>
    <script th:inline="javascript">
        'use strict';
        $(document).ready(async() => {
            const co = wg.c;
            const fn = wg.f;
            const grid = wg.gr;
            
            // sampleGrid load.
            grid.render(grid.id.grid, co.initParams);
            
            // testGrid load.
            /* grid.render(grid.id.grid2, {
                param1 : 'testparam1',
                param2 : 'testparam2',
            }); */
            
            // event load.
            //await fn.event();  
        });
    </script>
</th:block>
</html>